body {
  background-color: #121212;
  color: dodgerblue; /* Neon light green for text */
  font-family: 'Courier New', Courier, monospace; /* Optional: gives a digital look */
}

.row {
  display: flex;
}

.box {
  width: 50px;
  height: 50px;
  border: 1px solid #98FF98; /* Neon light green border */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #1e1e1e;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.box:hover {
  background-color: #333;
  color: #98FF98; /* Neon light green text on hover */
}

.left {
  width: 50%;
  float: left;
}

.right {
  width: 50%;
  float: right;
}

.controls {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #98FF98; /* Neon light green for controls text */
}

.controlBtn {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  font-size: 18px;
  color: #121212; /* Background color for icon */
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #98FF98;
}

.minusBtn {
  border-color: #ff007f;
 /* Initial background color for the minus button */
}

.plusBtn {
  border-color: #ffbf00; /* Initial background color for the plus button */
}

.controlBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.controlBtn i {
  font-size: 16px;
  color: #121212; /* Match the background color to make the arrow visible */
}

.controlBtn:hover {
  transform: scale(1.1);
}

.minusBtn:hover {
  background-color: #ff007f;
}

.plusBtn:hover {
  background-color: #ffbf00;
}

.gridContainer {
  color: dodgerblue; /* Neon light green for grid text */
}
