body {
  background-color: #222;
  color: dodgerblue; /* Neon light green for text */
  font-family: 'Courier New', Courier, monospace; /* Optional: gives a digital look */
}

h1{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sudoku-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-row {
  display: flex;
}



.row {
  display: flex;
  font-weight: bold;
}

.col {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #98FF98;;
  margin: 1px;
  font-size: 20px;
  color: dodgerblue;
}




.box {
  border: 2px solid #98FF98; /* Neon light green border */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.box {
  display: flex;
  flex-direction: column;
  margin: 1px;
}

button
{
  margin-top: 40px;
  height: 44px;
  padding-left: 16px;
  padding-right: 16px;
  background: rgb(5, 92, 179);
  border: none;
  border-radius: 7px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  transition: .7s;
}

button:hover{
  background: dodgerblue;
  transition: .7s;
}

